.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: black;
  font-family:sans-serif;
  text-emphasis-color: white;
  color:white;
  margin:0px;
  padding:0px;
}

.header{
  padding:0px;
  margin:0px;
  background-color:#303030;
  width:100%;

}

h1,h2,h3,h4,h5,p{
  margin:0px;
}


.station-container{
  padding:10px;
  margin:auto;
  width:min(max(400px,50vw),800px);
  align-self:center;

  border: .5px solid #555555;
  border-radius: 4px;
  

}