.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: black;
  font-family:sans-serif;
  text-emphasis-color: white;
  color:white;
  margin:0px;
  padding:0px;
}

.header{
  padding:0px;
  margin:0px;
  background-color:#1a1a1a;
  width:100%;
}

h1,h2,h3,h4,h5,p{
  margin:0px;
}


.station-container{
  padding:10px;
  margin:auto;
  width:min(max(300px,80vw),800px);
  align-self:center;

  border: .5px solid #555555;
  border-radius: 4px;
  

}