  
  .react-autosuggest__container {
    position: relative;
    float:left;
    margin-top: 0px;
  }
  
  .react-autosuggest__input {
    width: 240px;
    height: 8px;
    padding: 10px 20px;
    /* font-family: Helvetica, sans-serif;
    font-weight: 300; */
    font-size: 16px;
    border: 1px solid #555555;
    background-color: #white;
    border-radius: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  
  .react-autosuggest__input:focus {
    outline: none;
  }
  
  .react-autosuggest__container--open .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    position: absolute;
    top: 29px;
    width: 280px;
    margin: 0;
    padding: 0;
    padding-bottom:-5px;
    list-style-type: square;
    border: 1px solid #555555;
    border-top-style:none;
    background-color: #555555;
    /* font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px; */
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 10000;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px 0px;
  }
  
  .react-autosuggest__suggestion--focused {
    background-color: #ddd;
  }
  
  ul {
    list-style-type: none;
    padding: 0px 20px;
  }